/* font-family: "opensans_reg"; */
@font-face {
	font-family: "opensans_reg";
	src: url("../fonts/open_sans/Regular/OpenSans-Regular.eot");
	src: url("../fonts/open_sans/Regular/OpenSans-Regular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/open_sans/Regular/OpenSans-Regular.woff") format("woff"),
	url("../fonts/open_sans/Regular/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "opensans_bold"; */
@font-face {
	font-family: "opensans_bold";
	src: url("../fonts/open_sans/Bold/OpenSans-Bold.eot");
	src: url("../fonts/open_sans/Bold/OpenSans-Bold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/open_sans/Bold/OpenSans-Bold.woff") format("woff"),
	url("../fonts/open_sans/Bold/OpenSans-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "adventpro_reg"; */
@font-face {
	font-family: "adventpro_reg";
	src: url("../fonts/advent_pro/AdventPro-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "adventpro_bold"; */
@font-face {
	font-family: "adventpro_bold";
	src: url("../fonts/advent_pro/AdventPro-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "adventpro_med"; */
@font-face {
	font-family: "adventpro_med";
	src: url("../fonts/advent_pro/AdventPro-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "adventpro_semibold"; */
@font-face {
	font-family: "adventpro_semibold";
	src: url("../fonts/advent_pro/AdventPro-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}