/*===================================
=            Other Style            =
===================================*/
body { margin: 0; padding: 0; }
a, a:hover, a:focus, a:visited, a:active { text-decoration: none; }
li { list-style-type: none; }	

.clearfix:before, .clearfix:after { display: table; clear: both; content: ""; }

/*Title & Content*/
.info__title { font: 38px "adventpro_bold", sans-serif; position: relative; display: block; text-align: center; letter-spacing: 1px; text-transform: uppercase; }
.info__title_font-s { font-family: "adventpro_med", sans-serif; letter-spacing: -1px; }

.info__content { font: 1.3em "opensans_reg",sans-serif; line-height: 28px; text-align: center; }

.info__line:before { display: block; height: 1px; margin-bottom: 20px; content: ""; }
/*=====  End of Other Style  ======*/

/*==============================
=            Header            =
==============================*/
/*other*/
#header { height: 80px; background-color: #000; display: block;}
.header__wrapper { position: fixed; z-index: 9999; top: 0; right: 0; left: 0; margin: auto; background-color: rgba(0,0,0,.9); }
.logo__text, .nav__text {text-transform: uppercase; color: #fff; }

/*logo*/
.header__logo { margin: 15px 0 0 0; }
.logo__text { font: 34px/34px "adventpro_bold", sans-serif; letter-spacing: 1.5px; }
.logo__text_color { color: #008186; }
.logo__text_small { font: 15px/15px "opensans_reg", sans-serif; display: block; letter-spacing: .8px; }

/*nav*/
.nav {float: right; margin-top: 41px;  }
.nav__item { display: block; float: left; margin-right: 45px; }
.nav__item:last-child { margin-right: 0; }
.nav__text, .nav__text:hover, .nav__text:focus {font: 24px/24px "adventpro_bold", sans-serif; color: #e5e5e5;  }
.nav__text:hover {-webkit-transition: all .2s; -moz-transition: all .2s; -o-transition: all .2s; transition: all .2s; color: #008186;  }
.nav__item:active {-webkit-transition: all .2s; -moz-transition: all .2s; -o-transition: all .2s; transition: all .2s; -webkit-transform: scale(.9, .9); -moz-transform: scale(.9, .9); -ms-transform: scale(.9, .9); -o-transform: scale(.9, .9); transform: scale(.9, .9);  }

/*button*/
.header__btn { font-size: 34px; line-height: 0; position: absolute; top: 24px; right: 10px; color: #e5e5e5; border: none; outline: none; background-color: #000; }
.header__btn:hover {-webkit-transition: all .2s; -moz-transition: all .2s	; -o-transition: all .2s; transition: all .2s	; color: #008186;  }
.header__btn:active { -webkit-transform: scale(.9, .9); -ms-transform: scale(.9, .9); -o-transform: scale(.9, .9); transform: scale(.9, .9); }
/*=====  End of Header  ======*/

/*==============================
=            Slider            =
==============================*/
#slider { position: relative; }
#slider:before, #slider:after { display: block; height: 6.2px; content: ""; background-color: #4affff; }

/*image*/
.carousel__img { height: 600px; -webkit-background-size: cover !important; -moz-background-size: cover !important; -ms-background-size: cover !important; -o-background-size: cover !important; background-size: cover !important; }
.carousel__img_1 { background: url(../images/slider_img.jpg) no-repeat; }
.carousel__img_2 { background: url(../images/slider_img_1.jpg) no-repeat; }
.carousel__img_3 { background: url(../images/slider_img_2.jpg) no-repeat; }

/*Text Slider*/
.item__wrapper { display: table; width: 100%; height: 600px; }
.item__text { font: 5em "adventpro_reg", sans-serif; display: table-cell; width: 100%; text-align: center; vertical-align: middle; letter-spacing: .9px; text-transform: uppercase; color: #fff; color: #0e9a98; }
.item__text_color { font-family: "adventpro_bold", sans-serif; display: inline-block; padding: 0 17px; letter-spacing: 1px; color: #fff; background-color: #008186; }

/*Slider button*/
.slider__button_wrap {position: absolute; z-index: 2; top: 0; bottom: 0; display: table; width: 40px; height: 40px;  margin: auto; cursor: pointer;background-color: #00aaa8;  }
.slider__button { font-size: 18px; line-height: 0; display: table-cell; text-align: center;vertical-align: middle; color: #fff;  }
.slider__button_next {right: 10px;  padding-left: 3px; }
.slider__button_prev {left: 10px;  padding-right: 3px; }

.slider__button_next:active { transform: translateX(10px); }
.slider__button_prev:active { transform: translateX(-10px); }

.slider__button_next:active, .slider__button_prev:active { transition: all .1s; }
/*=====  End of Slider  ======*/

/*================================
=            About US            =
================================*/
.about__info { padding: 100px 10px; }
/*title*/
.about__title_color { color: #008186; }

/*content*/
.about__content_color { color: #555; }

.about__line_color:before { background-color: #E8E8E8; }
/*=====  End of About US  ======*/

/*================================
=            Services            =
================================*/
.services__wrapper { padding: 100px 0; background-color: #008186; }
.services__title_color, .services__content_color { color: #fff; }
.services__line_color:before { background-color: #fff; }
 
/*some-serv*/
.some-serv { margin-top: 25px; }

.some-serv__item:before {position: absolute; top: 5px; left: -100px; width: 82px; height: 82px; content: ""; background: url(../images/services_sprite.png) no-repeat;  }
.some-serv__item { position: relative; margin-left: 100px;  }
/*Sprite*/
.some-serv__item_img-2:before { background-position: -87px 0; }
.some-serv__item_img-3:before { background-position: -174px 0; }
.some-serv__item_img-4:before { background-position: 0 -87px; }
.some-serv__item_img-5:before { background-position: -87px -87px; }
.some-serv__item_img-6:before { background-position: -174px -87px; }

/*text*/
.some-serv__title { font: 30px/30px "adventpro_bold", sans-serif; display: block; margin-bottom: -15px;text-transform: uppercase;  }
.some-serv__text {font: 1.2em/1.3em "opensans_reg", sans-serif; letter-spacing: 1px; color: #fff;  }
/*=====  End of Services  ======*/

/*============================
=            News            =
============================*/
.news__wrapper { padding: 100px 0; }
.news__title_color { color: #008287 }

.pictures { position: relative; }
.pictures__img { width: 100%; }

.pictures__data { font: 16px/16px "adventpro_bold", sans-serif; position: absolute; top: 0; right: 0; padding: 5px 16px; text-transform: uppercase; color: #fff; background-color: rgba(0,0,0,.7); }

.pictures__info { position: absolute; bottom: 0; left: 0; margin-bottom: 2.5%; padding: 8px 15px; text-align: justify; background-color: rgba(44,151,148, .7); }
.pictures__title { font: 30px/30px "adventpro_bold", sans-serif; display: block; margin-bottom: -9px; text-transform: uppercase; }
.pictures__text { font: 16px/16px "opensans_reg", sans-serif; display: block; margin-bottom: 3px; color: #fff; }

/*Small Pict*/
.pictures__small_top { margin-bottom: 20px; }

.pictures__data_bg { background-color: rgba(44,151,148, .7); }
.pictures__info_small { display: block; width: 100%; background-color: rgba(0,0,0, .7); }
.pictures__title_small { font: 18px/18px "adventpro_bold", sans-serif; text-transform: uppercase; color: #fff; }
/*=====  End of News  ======*/

/*================================
=            Contacts            =
================================*/
.contacts__wrapper { padding: 100px 0; background: url(../images/contacts_bg.png) no-repeat; -webkit-background-size: cover; background-size: cover; }
.contact__title_color, .contact__content_color, .company__name, .company__adress, .company__contact { color: #fff; }

.company__info:before { display: block; height: 1px; margin: 12px 0 15px 0; content: ""; background-color: #fff; }

.contacts__info { margin-top: 50px; }
.contact__maps { width: 100%; height: 205px; }

.company__name, .company__info { font: 24px/24px "opensans_reg", sans-serif; }
.company__info_fz { font-size: 16px; }

.company__adress, .company__contact { display: block; }
.company__adress { float: left; }
.company__contact { float: right; text-align: right; }
.contact__mail:after { display: block; height: 1px; margin-top: -3px; content: ""; background-color: #fff; }

#contacts { position: relative; }
#contacts:after { display: block; height: 6px; content: ""; background-color: #00aaa8; }

/*Up Button*/
.slide-top { position: absolute; right: 0; bottom: 6px; display: table; width: 40px; height: 40px; }
.slide-top:active { -webkit-transition: all .1s; -moz-transition: all .1s; -ms-transition: all .1s; -o-transition: all .1s; transition: all .1s; -webkit-transform: translate(0, -5px); -moz-transform: translate(0, -5px); -ms-transform: translate(0, -5px); -o-transform: translate(0, -5px); transform: translate(0, -5px); }
.up_button { display: table-cell; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); text-align: center; vertical-align: middle; color: #fff; background-color: #00aaa8; }
.up_button:hover, .up_button:focus { color: #fff; }
/*=====  End of Contacts  ======*/

/*==============================
=            Footer            =
==============================*/
.footer__wrapper { padding: 50px 0; background-color: #000; }

.footer__company-name { display: table; }
.footer__company-name_title { font: 24px/24px "adventpro_bold", sans-serif; display: table-cell; color: #fff; }
.footer__title_style { font: 24px/24px "adventpro_bold", sans-serif; letter-spacing: 0; color: #008186; }

.footer__priv { font: 14px/16px "opensans_reg", sans-serif; display: table-cell; padding-left: 11px; vertical-align: middle; color: #fff; }
.footer__priv:before { display: block; float: left; width: 1px; height: 14px; margin-top: 1px; margin-right: 9px; content: ""; background-color: #fff; }

/*social*/
.social { width: 155px; margin: 0 auto; padding: 0; text-align: center; }
.social__item { display: block; float: left; margin-right: 5px; }
.social__item:last-child { margin-right: 0; }

/*social icon*/
.social__link { display: block; width: 27px; height: 25px; }
.social__link:hover { -webkit-transition: all .2s; -moz-transition: all .2s; -ms-transition: all .2s; -o-transition: all .2s; transition: all .2s; -webkit-transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); -ms-transform: scale(1.2, 1.2); -o-transform: scale(1.2, 1.2); transform: scale(1.2, 1.2); }

.social__link_face { background: url(../images/social_icon.png) no-repeat; }
.social__link_twit { background: url(../images/social_icon.png) no-repeat; background-position: -28px 0; }
.social__link_you { background: url(../images/social_icon.png) no-repeat; background-position: -54px 0; }
.social__link_phot { background: url(../images/social_icon.png) no-repeat; background-position: -81px 0; }
.social__link_plus { background: url(../images/social_icon.png) no-repeat; background-position: -109px 0; }

/*license*/
.license__text { font: 14px/23px "opensanse_reg", sans-serif; display: block; text-align: right; color: #dcdcdc; }
.license__company { color: #007479; }
/*=====  End of Footer  ======*/